.y-windows {
    position: fixed;
    top: 1vmin;
    left: 1vmin;
    z-index: 1000;
    background-color: #fff;
    width: 50vw;
    height: 50vh;
    border: solid 1px rgb(94, 94, 94);
    box-shadow: 0 0 9px gray;
    font-family: "Microsoft Yahei UI", "Segoe UI", sans-serif;
    padding: 5px 10px;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.y-windows, .y-windows * {
    transition: width 0.1s, height 0.1s;
}

.y-title, .y-max, .y-close {
    font-size: small;
}

.y-buttons {
    float: right;
    position: relative;
}

.y-max, .y-close {
    padding: 7px 10px;
}

.y-max:hover {
    background-color: rgb(230, 230, 230);
}

.y-close:hover {
    background-color: red;
    color: white;
}

.y-flex {
    display: flex;
    flex-direction: row;
    height: calc(100% - 7vmin);
}

.y-menu {
    background-color: rgb(236, 236, 236);
    min-width: 15vw;
    height: 100%;
    padding: 10px;
    position: relative;
    left: -10px;
    top: 7px;
}

.y-container, .y-menu {
    overflow-y: auto;
}

.y-head {
    font-size: x-large;
    font-weight: normal;
}

.y-head2 {
    font-weight: normal;
    font-size: large;
}

.y-link {
    cursor: pointer;
    color: rgb(6, 83, 120);
}

.y-link:hover, .y-light {
    color: gray;
}

.y-mtitle {
    font-weight: bold;
}

.y-item {
    margin: 0;
    padding: 10px 0;
}

.y-item:hover {
    background-color: lightgray;
}

.y-select {
    border-left: solid 5px rgb(6, 83, 120);
}

.y-search {
    border: solid 3px gray;
    padding: 5px;
    font-family: "Microsoft Yahei UI", "Segoe UI", sans-serif;
    outline: none;
    width: calc(15vw - 20px);
}

.y-search:focus {
    border-color: rgb(6, 83, 120);
}

.y-search::selection {
    background-color: rgb(6, 83, 120);
    color: white;
}

.y-range {
    appearance: none;
    width: 30vw;
}

.y-range::-webkit-slider-runnable-track {
    appearance: none;
    background-color: lightgray;
    height: 5px;
}

.y-range::-webkit-slider-thumb {
    appearance: none;
    height: 30px;
    width: 8px;
    margin: -15px 0;
    background-color: rgb(6, 83, 120);
    border-radius: 4px;
}

.y-range::-webkit-slider-thumb:hover {
    background-color: rgb(64, 134, 167);
}

.y-button {
    background-color: lightgray;
    padding: 5px 27px;
    border: solid 3px lightgray;
    font-family: "Microsoft Yahei UI", "Segoe UI", sans-serif;
}

.y-button:hover {
    border: solid 3px gray;
}

.y-button:active {
    background-color: gray;
}

.y-warning {
    color: rgb(197, 5, 0)
}
