.y-windows {
    position: fixed;
    top: 1vmin;
    left: 1vmin;
    z-index: 1000;
    background-color: #fff;
    width: 50vw;
    height: 50vh;
    border: solid 1px rgb(94, 94, 94);
    box-shadow: 0 0 9px gray;
    font-family: "Microsoft Yahei UI", "Segoe UI", sans-serif;
    padding: 5px 10px;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.y-windows, .y-windows * {
    transition: 0.1s;
}

.y-title, .y-max, .y-close {
    font-size: small;
}

.y-buttons {
    float: right;
    position: relative;
}

.y-max, .y-close {
    padding: 7px 10px;
}

.y-max:hover {
    background-color: rgb(230, 230, 230);
}

.y-close:hover {
    background-color: red;
    color: white;
}

.y-flex {
    display: flex;
    flex-direction: row;
    height: calc(100% - 7vmin);
}

.y-menu {
    background-color: rgb(236, 236, 236);
    min-width: 15vw;
    height: 100%;
    padding: 10px;
    position: relative;
    left: -10px;
    top: 7px;
}

.y-container {
    overflow-y: auto;
}

.y-head {
    font-size: x-large;
    font-weight: normal;
}

.y-head2 {
    font-weight: normal;
    font-size: large;
}

.y-link {
    cursor: pointer;
    color: rgb(6, 83, 120);
}

.y-link:hover, .y-light {
    color: gray;
}

.y-mtitle {
    font-weight: bold;
}

.y-item {
    margin: 0;
    padding: 10px 0
}

.y-item:hover {
    background-color: lightgray;
}