.y-windows {
    position: fixed;
    top: 1vmin;
    left: 1vmin;
    z-index: 1000;
    background-color: #fff;
    width: 50vw;
    height: 50vh;
    border: solid 1px rgb(94, 94, 94);
    box-shadow: 0 0 9px gray;
    font-family: "Microsoft Yahei UI", "Segoe UI", sans-serif;
    padding: 5px 10px;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.y-windows, .y-windows * {
    transition: width 0.1s, height 0.1s;
}

.y-title, .y-max, .y-close {
    font-size: small;
}

.y-buttons {
    float: right;
    position: relative;
}

.y-max, .y-close {
    padding: 7px 10px;
}

.y-max:hover {
    background-color: rgb(230, 230, 230);
}

.y-close:hover {
    background-color: red;
    color: white;
}

.y-flex {
    display: flex;
    flex-direction: row;
    height: calc(100% - 30px);
}

.y-menu {
    background-color: rgb(236, 236, 236);
    min-width: 15vw;
    height: calc(100% + 7px);
    position: relative;
    left: -10px;
    top: 7px;
}

.y-container, .y-menu {
    overflow-y: auto;
    overflow-x: hidden;
}

.y-container:not(:nth-of-type(2)) {
    display: none;
}

.y-head {
    font-size: x-large;
    font-weight: normal;
}

.y-head2 {
    font-weight: normal;
    font-size: large;
}

.y-head3 {
    font-weight: normal;
    font-size: 105%;
}

.y-link {
    cursor: pointer;
    color: rgb(6, 83, 120);
}

.y-link:hover, .y-light {
    color: gray;
}

.y-mtitle {
    font-weight: bold;
    padding: 10px;
}

.y-item {
    margin: 0;
    padding: 10px;
}

.y-item:hover {
    background-color: lightgray;
}

.y-select {
    border-left: solid 5px rgb(6, 83, 120);
}

.y-search {
    border: solid 3px gray;
    padding: 5px;
    margin: 10px;
    font-family: "Microsoft Yahei UI", "Segoe UI", sans-serif;
    outline: none;
    width: calc(15vw - 40px);
}

.y-search:focus {
    border-color: rgb(6, 83, 120);
}

.y-search::selection {
    background-color: rgb(6, 83, 120);
    color: white;
}

.y-range {
    appearance: none;
    max-width: 100%;
    min-width: 20vw;
    background-image: linear-gradient(90deg, rgb(6, 83, 120) 0%, rgb(6, 83, 120) 50%, lightgray 50%);
}

.y-range::-webkit-slider-runnable-track {
    appearance: none;
    height: 5px;
}

.y-range::-webkit-slider-thumb {
    appearance: none;
    height: 30px;
    width: 8px;
    margin: -15px 0;
    background-color: rgb(6, 83, 120);
    border-radius: 4px;
}

.y-range::-webkit-slider-thumb:hover {
    background-color: black;
}

.y-button {
    background-color: lightgray;
    padding: 5px 27px;
    border: solid 3px lightgray;
    font-family: "Microsoft Yahei UI", "Segoe UI", sans-serif;
}

.y-button:hover {
    border: solid 3px gray;
}

.y-button:active {
    background-color: gray;
}

.y-warning {
    color: rgb(197, 5, 0);
}

.y-checkbox {
    appearance: none;
    border: solid 3px gray;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.y-checkbox:checked:after {
    content: "✔";
}

.y-checkbox:checked {
    background-color: rgb(6, 83, 120);
    color: white;
    border-color: rgb(6, 83, 120);
}

.y-input-select {
    padding: 5px 10px;
    border: solid 3px gray;
    font-family: "Microsoft Yahei UI", "Segoe UI", sans-serif;
    width: 15vw;
}

.y-checkbox:hover, .y-checkbox:checked:hover, .y-input-select:hover {
    border-color: black;
}

.y-toggle {
    appearance: none;
    vertical-align: middle;
    height: 20px;
}

.y-toggle:before {
    display: block;
    content: "";
    width: 40px;
    height: 14px;
    border-radius: 10px;
    border: solid 3px rgb(94, 94, 94);
}

.y-toggle:hover:before {
    border: solid 3px black;
}

.y-toggle:after {
    position: relative;
    top: -16px;
    left: 4px;
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: black;
}

.y-toggle:checked:before {
    background-color: rgb(6, 83, 120);
    border-color: rgb(6, 83, 120);
}

.y-toggle:checked:hover:before {
    background-color: rgb(56, 135, 172);
    border-color: rgb(56, 135, 172);
}

.y-toggle:checked:after {
    left: 26px;
    background-color: white;
}

.y-toggle+.y-toggletext:before {
    content: "关";
}

.y-toggle:checked+.y-toggletext:before {
    content: "开";
}

.y-radio {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: solid 3px rgb(94, 94, 94);
    vertical-align: middle;
}

.y-radio:not(:checked):hover {
    border: solid 3px black;
}

.y-radio:checked:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
    position: relative;
    top: 2.5px;
    left: 2.5px;
}

.y-radio:checked {
    border: solid 3px rgb(6, 83, 120);
}

@media screen and (min-width: 900px) {
    .y-container {
        display: flex;
    }

    .y-sidebar h1 {
        font-size: medium;
    }

    .y-sidebar p {
        color: gray;
    }
}

.y-button-large {
    height: 65px;
    min-width: 300px;
    border: none;
    background-color: white;
    text-align: left;
    font-size: medium;
    font-family: "Microsoft Yahei UI", "Segoe UI", sans-serif;
    line-height: 0.3;
    padding-left: 50px;
}

.y-button-large:hover {
    background-color: rgb(238, 236, 236);
}

.y-button-large:active {
    background-color: lightgray;
}

.y-description {
    color: gray;
}

.y-main {
    min-width: 30vw;
}

.y-progress {
    appearance: none;
}

.y-progress::-webkit-progress-bar {
    max-width: 500px;
    width: 20vw;
    height: 10px;
    background-color: lightgray;
}

.y-progress::-webkit-progress-value {
    background-color: rgb(6, 83, 120);
}